{{!< layout}}
{{!< layout}}

<div class="inner-page">
<h2>Teams in Project</h2>
<div class="aui-group">
    <div class="aui-item">
        <table class="aui">
            <thead>
            <tr>
                <th id="value">Name</th>
                <th id="category">Category</th>
                <th id="action">In Project</th>
            </tr>
            </thead>
            <tbody>
            {{#each teams}}
                <tr class="team" id={{this._id}}><td>{{this.value}}</td> <td>{{this.category}}</td> <td>
                    <aui-toggle id="add-team{{this._id}}" team-id="{{this._id}}" {{#if inProject}} checked {{/if}}label="add team to project"></aui-toggle>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>

<script src="{{furl '/js/addon-team-in-project.js'}}"></script>

